<div class="container">
  <div class="list-group">
    <div *ngFor="let post of posts" [routerLink]="['/post/view/']" [queryParams]="{postId: post._id}" >
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
          <div class="row">
              <div class="col-sm-12">
        <h5 class="mb-1">{{post.title}}</h5>
        <span class="badge badge-success">{{ post.username }}</span>
        </div>
          </div>
        <div class="row">
        <div class="col-sm-12">
            <small>{{ today - post.created_date }} days ago</small>
        </div>
        </div>
      </div>
      <hr>
      <p class="mb-1">{{post.body}}</p>
      <button type="button" class="btn btn-sm btn-info">read more...</button>
      <small style="float:right">{{ post.comments.length }} Comment</small>
    </a>
    <br>
  </div>
</div>
</div>
